@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
html, body{
    margin: 0;
    padding: 0;
   background: url(https://i1.photo.2gis.com/images/branch/21/2955487302399827_0665.jpg) no-repeat fixed;
background-size: cover;
}
input{
    width: 300px;
    height: 80px;
    background-color: black;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: 33%;
    color: white;
    font-family: 'Satisfy', cursive;
    outline: none;
    font-size: 25px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 80px;
    margin-top: 3%; 
}
.output{
    width: 100%;
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
    margin-top: 1%;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
h1{
    font-size: 30px;
    color: olive;
    margin-top: 5%;
}
.card {
    width: 15%;
    margin-bottom: 2%;
    border-radius:20px;
    background-color:rgba(18, 10, 20, 0.767);
}
.lastcard{
    width: 40%;
    background-color: rgba(18, 10, 20, 0.767);
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;

}
button{
    width: 100px;
    height: 50px;
    background-color: rgba(18, 10, 20, 0.767);
    border-radius: 30px;
    margin-left: 80%;
    margin-top: 1%;
    color: white;
    font-family: 'Satisfy', cursive;
    outline: none;
    font-size: 20px;
}